@page
@model AdvisorApp.Pages.HotelModel
@{
}

<div>
    <p class="name">@Model.Hotel.HotelName</p>
    <p class="rating">⭐⭐⭐⭐⭐ 1234 отзыва</p>
    <br/>
    <table>
        <tr>
            <td>
    <img class="image" src="https://cdn.worldota.net/t/640x400/extranet/03/dd/03dd9c092c7132541bff2529187d93db3d98e61f.JPEG" />
            </td>
            <td>
                <div>
                    <p>Цена: 228</p>
                    <a href="@Model.Hotel.SiteLink">Забронировать</a>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <p>Об отеле:</p>
    <p>@Model.Hotel.Description</p>

</div>
