@page
@model AdvisorApp.Pages.HotelModel
@{
}
<div>

    <p class="name">Название отеля</p>
    <br />
    <p class="rating">⭐⭐⭐⭐⭐</p>
    <p>1234 отзыва</p>
    <br />

    <img class="image" src="https://cdn.worldota.net/t/640x400/extranet/03/dd/03dd9c092c7132541bff2529187d93db3d98e61f.JPEG" />
    <br />
    <p>Об отеле</p>
    <br />
    <p>Explore the Rocky Mountain National Park on this all-day trip from Denver or Boulder. Discover the rugged scenery of the Colorado mountains as you weave through small towns and travel over alpine passes. Be on the lookout for wildlife such as elk, black bears, and moose. Inside the park, you’ll have the chance to take short hikes or simply relax.</p>
    <div style="column-count: 2;">
        <div>
            <p>Об отеле:</p>
        </div>
        <div>
        </div>
    </div>
</div>