@page
@model IndexModel
@{
    ViewData["Title"] = "Узнай наш дом";
}

<a asp-page="/Hotel" asp-route-id="1">Hotel</a>
<a asp-page="/Hotels" asp-route-type="Отель">Отели</a>
<a asp-page="/Hotels" asp-route-type="Ресторан">Рестораны</a>
<a asp-page="/Hotels" asp-route-type="Развлечение">Развлечения</a>
<a asp-page="/Reviews">Отзывы</a>
